*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'outfit', sans-serif;
}
html{
    height: 100vh;
    font-size: 14px;
}
body{
    background: linear-gradient(to bottom, #0B0B0B 85%, #161616);
    height: 100%;
}
.container{
    height: 100%;
    max-width: 550px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    color: #fff;
}
a{
    text-decoration: none;
}
.degrade{
    background: linear-gradient(to right,#353535, #161616);
}
header{
    text-align: center;
    margin-bottom: 10px;
}
header img{
    max-width: 140px;
    margin-bottom: 20px;
}
header h1{
    font-size: 2em;
    color: #272727;
}
section.link{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

a.link button{
    width: 100%;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 7px solid #0b0b0b;
    border-radius: 25px;
    font-size: 1.2em;
    font-size: 1.3em;
    cursor: pointer;
    color: #fff;
    transition: .3s;
}
a.link i{
    font-size: 2em;
}
a.link button:hover{
    transform: scale(1.08);
}